* {
  font-family: 'Roboto', sans-serif;
  color: var(--text-content);
}

body {
  margin: 0;
  padding: 0;
  background-image: url(/img/background-img-4.jpg);
}

/*   CUSTOM PROPERTIES   */

:root {
  --text-content: rgb(255, 255, 255);
  --text-secondary: #d8c414;
  --background: rgba(0, 0, 0, 0.411);
  --background-2: rgba(226, 17, 17, 0.301);
  --modal: #0000009c;
}

/*           CONTAINER                */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*               IMAGES               */

#background-img {
  height: 100vh;
  width: auto;
  background-size: cover;
  filter: brightness(65%);
}

.logo {
  width: 140px;
  height: 60px;
  margin-right: 700px;
}

.images {
  margin-top: 30px;
  height: 100vh;
  width: 100%;
}

/*                  NAV BAR               */

.nav-bar {
  position: fixed;

  background-color: var(--background);
  box-shadow: 3px 3px 3px 3px rgba(6, 2, 4, 0.6);

  width: 100%;
  z-index: 1;
}

.nav-bar-items {
  margin: 10px 10px;
  text-decoration: none;
  letter-spacing: 2px;
  list-style-type: none;
  font-size: 16px;
}

.nav-bar-items:hover {
  font-weight: 900;
}

/*               TITLES AND TEXT                  */

.main--titles {
  font-size: 100px;
  font-weight: 100;
  letter-spacing: 2px;
}

h1 {
  position: absolute;
  top: 30%;
  left: 60px;
  font-size: 100px;
  font-weight: 300;
  letter-spacing: 2px;
}

.number-of-movies {
  margin: 50px;
}

.number-of-movies li {
  list-style: none;
  margin: 30px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}

.number-of-movies li:hover {
  font-size: 110%;
  color: var(--text-secondary);
  transition: 0.3s;
}

.game-content li {
  list-style: none;
  margin: 30px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}

.game-content li:hover {
  font-size: 110%;
  color: var(--text-secondary);
  transition: 0.3s;
}

.modal {
  position: absolute;
  text-align: center;
  background-color: var(--modal);
  padding: 50px;
  height: auto;
  width: 60%;
}

/*                 SECTIONS                   */

.section {
  padding: 3rem 3rem;
  transition: transform 1s, opacity 1s;
}

.section-hidden {
  opacity: 0;
  transform: translateY(10rem);
}

/*            SLIDER COMPONENT            */

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;
}

.slide > img {
  border-radius: 1%;
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.slider-btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background-color: var(--modal);
  font-family: inherit;
  color: var(--text-content);
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
  outline: none;
}

.slider-btn:active {
  border-style: none;
  color: rgb(255, 0, 0);
}

.slider-btn-left {
  left: 6%;
  transform: translate(-50%, -50%);
}
.slider-btn-right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots_dot {
  border: none;
  background-color: rgb(241, 234, 239);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}

.dots_dot:last-child {
  margin: 0;
}

.dots_dot_active {
  background-color: rgb(87, 83, 83);
  opacity: 1;
}

/*                    FOOTER                      */

.arrow-up {
  text-decoration: none;
  margin: 15px;
  text-align: right;
}

.footer {
  padding: 10rem 3rem;
  background-color: var(--background-2);
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer-logo {
  height: 4rem;
  display: block;
  margin: 0 auto;
  margin-left: 20px;
}

.footer-copyright {
  margin: 0 auto;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-content);
  text-align: center;
}
